.wrap-header{
    background: rgb(10,29,246);
    background: linear-gradient(121deg, rgba(10,29,246,1) 0%, rgba(253,29,29,1) 50%, rgba(249,251,25,1) 100%); 
    position:relative;
}

.wrap-movil{
    height:150px;
    background: rgb(10,29,246);
    background: linear-gradient(345deg, rgba(10,29,246,1) 0%, rgba(253,29,29,1) 50%, rgba(249,251,25,1) 100%); 
    animation-duration: 6s;
    animation-delay:.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-name:neon;
}

.wrap-logo{
    width: 100%;
    background: rgb(91,91,97);
    background: linear-gradient(214deg, rgba(91,91,97,1) 35%, rgba(167,163,163,1) 50%, rgba(91,91,97,1) 75%); 
    height:145px;
    position:absolute;
    top:2.5px;
}

.wrap-logo img{
    height:100px;
}

@keyframes neon {
    from {
        transform: translateX(100%);
    }
}
